.event-info {
  padding: 15rem 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;

  &__card {
    height: 45rem;
    padding: 2rem;
  }

  &__card-header {
    text-transform: uppercase;
  }

  &__card-header-title {
    color: $red !important;
    font-family: 'Oswald', Helvetica, Arial, sans-serif !important;
    font-size: $font-l !important;
  }

  &__card-header-subtitle {
    font-size: $font-m !important;
  }

  &__card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
    margin: 2rem 0;
  }

  &__card-body-text {
    font-size: $font-s;
    margin-bottom: 2rem;
  }

  &__action {
  }

  &__button {
    font-size: $font-xs !important;
    margin-right: 1rem !important;
  }
}
