.event-info {
  padding: 15rem 0;

  &__card {
    height: 45rem;
    padding: 2rem;
  }

  &__card-header {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__card-header-title {
    color: $red;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    font-size: $font-l;
    margin-bottom: 2rem;
  }

  &__card-header-subtitle {
    font-size: $font-m;
  }

  &__card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15rem;
    margin: 2rem 0;
  }

  &__card-body-text {
    font-size: $font-s;
    margin-bottom: 2rem;
  }
}
