/*==============================
            COLORS
================================*/

$dark-grey: #2d3436;
$white: #fff;

/*==============================
          TYPOGRAPHY
================================*/

$font-s: 1.6rem;
$font-xl: 5rem;
