/*==============================
            COLORS
================================*/

$dark-grey: #212121;
$white: #fff;

/*==============================
          TYPOGRAPHY
================================*/

$font-s: 1.6rem;
$font-l: 4rem;
$font-xl: 5rem;
