/*==============================
            COLORS
================================*/

$dark-grey: #212121;
$white: #fff;

$red: #e74c3c;
$dark-red: #c0392b;

/*==============================
          TYPOGRAPHY
================================*/

$font-s: 1.6rem;
$font-m: 2rem;
$font-l: 4rem;
$font-xl: 5rem;
$font-xxl: 7rem;
